* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;

}

header {
	background-image: url(laptop.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li {
	display: inline-block;
}

ul li a {
	text-decoration: none;
	padding: 5px 20px;
	border: 1px solid;
	color: black;
}

ul li a:hover {
	background-color: white;
	color: green;
}

ul li.active a {
	background-color: white;
	color: green;
}

.logo img {
	float: left;
	width: 250px;
	height: auto;
	padding-left: 180px;

}

.main {
	max-width: 1200px;
	margin: auto;
}